.DS_Store
.idea
index.d.ts
typique-output*.css
**/*.log
**/tsconfig.tsbuildinfo
/*.js
/*.mjs
/bin/*.d.ts
/bin/*.mjs
/bin/*.js
/node_modules/
/sandbox/
/ts-plugin/*.js
/test/per-file/*.css
/test/per-file/b.ts