.DS_Store
.idea
node_modules
typique-output*.css
tsconfig.tsbuildinfo
*.log
/demos/vanillajs-buttons/styles.mjs
/packages/typique/**/*.d.ts
/packages/typique/**/*.d.mts
/packages/typique/**/*.js
/packages/typique/**/*.mjs
/sandbox/
/test-server/per-file/*.css
/test-server/per-file/b.ts
