@import './other$0.css';
@import url(./other.$1.css);
@namespace svg url(http://www.w3.org/2000/svg.$0);
@document url-prefix("https://example.$1.com/blog");
.cls-g-at {
  margin: 1px;
  padding: 2px;
}
@font-face {
  font-family: Times;
  src: localhost;
}
@page :first {
  @top-left {
    content: "Title.$0";
  }
}
