.title-0 {
  padding: 1rem;
}
.title-0.title-1 {
  padding: 1.3rem;
}
.title-0.title-1.title-2 {
  font-weight: 700;
}
.title-0.title-3 {
  padding: 0.5rem;
}
.title-0.title-3.title-2 {
  font-weight: 600;
}
