.cls-a {
  color: red;
  animation: spin-1 1s linear infinite;
}
@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .cls-a {
    color: cyan;
  }
  .cls-a:active, .simp-0:hover {
    color: magenta;
  }
}
