@import './other.css';
@import url(./other.css);
@namespace svg url(http://www.w3.org/2000/svg);
@document url-prefix("https://example.com/blog");
.cls-g-at-0 {
  margin: 1px;
  padding: 2px;
}
@font-face {
  font-family: Times;
  src: localhost;
}
@page :first {
  @top-left {
    content: "Title";
  }
}
